{% extends 'admin/base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h2>Liste des utilisateurs</h2>

    {% for user in users %}
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ user.nickname }}
            <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
            <form action="{{ path('admin_user_delete', {'id': user.id}) }}" method="post" class="d-inline">
						<button class="btn btn-danger">Supprimer</button>
						<input type="hidden" name="_method" value="delete">
			</form>
            </div>
            <div class="card-body">
            <h4 class="card-title">{{ user.firstname }} {{ user.lastname }}</h4>
            <p class="card-text">{{ user.biography }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
