{% extends 'admin/base.html.twig' %}

{% block title %}Hello ServiceController!
{% endblock %}

{% block body %}
	<h2>Ajout d'un service</h2>
	
	{{ form_start(form) }}
 
    	{{ form_row(form.name)}}
		{{ form_row(form.createdAt)}}
		{{ form_row(form.updatedAt)}}
 	<button class="btn btn-info">Ajouter</button>
	{{ form_end(form) }}
	
{% endblock %}
