{% extends 'admin/base.html.twig' %}

{% block title %}Hello ServiceController!
{% endblock %}

{% block body %}
	<h2>Modification d'un service</h2>
	
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
 	{{ form_start(form) }}
    	{{ form_label(form.name)}}
    	{{ form_widget(form.name)}}
		{{ form_row(form.createdAt)}}
		{{ form_row(form.updatedAt)}}
 	<button class="btn btn-info">Modifier</button>
	{{ form_end(form) }}

{% endblock %}